/* CSS files add styling rules to your content */

header {
  overflow: hidden;
}
header img {
  margin-left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-style: italic;
  color: #fa7c91;
}
h2 {
  font-style: italic;
  color: #fa7c91
}
tr > td {
  width: 33.3406%;  
  height: 304px; 
  border-style: hidden; 
  border-color: #ffffff; 
  background-color: #ffffff; 
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}
